*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
	color: white;
}

.body_containt{

	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%,-50%); 
	border-radius: 20px;

}

.card-edit{
	background-color: rgba(0,0,0,.5);
	position: relative;
}

.card .card-header{
	background-color: rgba(0,0,0,.2);
}
.card-header h3 {
	font-size: 25px;
	font-weight: bold;
}

.input-fild{
	
	position: relative;
}

.input-fild label {
	position: absolute;
	top: 0;
	left: 20px;
	padding: 10px 0px;
	font-size: 16px;
	pointer-events: none;
	transition: .5s;
}
input[type="text"] {
	margin: 40px 0px;
	padding: 10px 20px;
	border-bottom: 1px solid #c8c8cccc;
	background-color: transparent;
	border:1px solid white;
	outline: none;
}

.edit-btn{
	float: right;
	margin: 20px 0px;
}
.btn-resize {
	padding: 10px 56px;
	border-radius: 28px;

}

.input-fild input:focus ~ label
/*.input-fild input:valid ~ label*/{
	top: -30px;
	font-size: 14px;
}